.categories-container {
  height: fit-content;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background-color: #232323;
  padding: 40px;
  width: 100vw;
  overflow-x: hidden;

  .top-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: fit-content;
    width: 260px;
    .searchCard {
      width: 260px;
      box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
      background: #232323;
      padding: 12px;
      margin-top: 24px;
      h2 {
        font-size: 17px;
        color: #e5e5e5;
        margin-bottom: 12px;
      }
    }
    .searchButton {
      outline: none;
      height: 40px;
      width: 95%;
      border-radius: 5px;
      border: none;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #00cfc3;
      margin-top: 12px;
      color: #fff;
      cursor: pointer;
    }
    h1 {
      font-size: 28px;
      text-align: center;
      color: #e5e5e5;
      margin-bottom: 24px;
    }

    .categories-search {
      display: flex;

      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        outline: none;
        height: 40px;
        width: 95%;
        border-radius: 5px;
        border: none;
        padding: 0 12px;
      }

      // img {
      //   cursor: pointer;
      //   height: 48px;
      //   width: 48px;
      // }
    }

    .categories-buttons {
      width: 100%;
      height: fit-content;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      border-radius: 70px;
      overflow: hidden;
      background: #fff;
      button {
        cursor: pointer;
        border-radius: 70px;
        height: 40px;
        width: 50%;
        border: none;

        font-size: 14px;
        background: #fff;
        color: #323232;

        &#active {
          background-color: #00cfc3;
          color: #fff;
        }
      }
    }
  }

  .loadingContainer {
    width: 90vw;
    height: calc(100vh - 70px - 80px);
    font-size: 28px;
    text-align: center;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-content {
    height: fit-content;
    width: calc(90vw - 260px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-left: 40px;

    .myMovieCard {
      width: calc(100% / 4);

      display: flex;
      justify-content: center;
    }
    .component {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // margin: 0 15px;
      margin-bottom: 30px;
      height: fit-content;
      width: 80%;
      border-radius: 10px;
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
      background-image: url("../images/img.png");
      background-position: center;
      background-size: cover;

      &:hover {
        .component-title {
          h3 {
            color: #00a7c2;
          }
        }
      }
      img {
        height: calc((90vw - 260px) / 4 * 0.751 * 1.5);
        width: 100%;
        border-radius: 10px 10px 0 0;
      }

      .component-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #f2f2f2;
        border-radius: 0 0 10px 10px;
        padding: 10px 0;

        h3 {
          width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          color: #121212;
          margin-left: 10px;
        }

        p {
          text-overflow: ellipsis;
          font-size: 12px;
          color: #444;
          line-height: 1.5;
          margin-left: 10px;
        }
      }
    }
  }

  .view-more-button {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding-bottom: 30px;
    padding-top: 10px;

    .button {
      width: 100%;
      cursor: pointer;
      background-color: #00cfc3;
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 20px 50px;
      border-radius: 5px;
      margin-right: 15px;

      h2 {
        font-size: 16px;
        text-transform: uppercase;
        color: #323232;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .categories-container {
    .main-content {
      .myMovieCard {
        width: calc(100% / 3);
        img {
          height: calc((90vw - 260px) / 3 * 0.751 * 1.5);
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .categories-container {
    .main-content {
      .myMovieCard {
        width: calc(100% / 2);
        img {
          height: calc((90vw - 260px) / 2 * 0.751 * 1.5);
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .categories-container {
    .main-content {
      .myMovieCard {
        width: calc(100% / 1);
        img {
          height: calc((90vw - 260px) / 1 * 0.751 * 1.5);
        }
      }
    }
  }
}
// @media only screen and (max-width: 600px) {
//   .categories-container {
//     flex-direction: column;
//     .top-search {
//       margin-bottom: 24px;
//       width: 100%;
//       .searchCard {
//         width: 100%;
//       }
//     }
//     .main-content {
//       width: 100%;
//       padding-left: 0;
//       align-items: center;
//       justify-content: center;
//       .myMovieCard {
//         width: calc(95%);
//       }
//     }
//   }
// }

@media only screen and (max-width: 600px) {
  .categories-container {
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    .top-search {
      margin-bottom: 24px;
      width: 100%;
      .searchCard {
        width: 100%;
      }
      .categories-search {
        width: 100%;
      }
    }

    .main-content {
      width: 100%;
      padding-left: 0;
      align-items: center;
      justify-content: center;
      .myMovieCard {
        width: 100%;
        img {
          height: auto;
          width: 100%;
        }
      }
      .component {
        cursor: none;
      }
    }

    .view-more-button {
      .button {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
